<div class="col-md-2">
  <div class="container-fluid mt-3">
    <div class="navbar navbar-expand-md navbar-light bg-lignt pl-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link text-primary" data-toggle="tab" href="#feedsPage"><b>Feeds</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" data-toggle="tab" href="#discoverPage"><b>Discover</b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>