@import "bootstrap";
@import "users";
@import "photos";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  overflow: hidden;
  background-color: #184785;
}
section {
  background-color: #bec2c5;
}

#avatarTop {
  height: 40px;
  width: 40px;
}
#btnFollowCard {
  width: 60px;
  height: 25px;
  font-size: 8px;
}
.sizePhotos {
  height: 240px;
  width: 240px;
}
.sizeAlbums {
  height: 220px;
  width: 220px;
}
.imgView {
  transition: transform .2s;

}
.imgView:hover{
  transform: scale(1.1);
}

.imgView:active{
  transform: scale(0.5);
}
#btnFollow {
  border-radius: 28px;
  width: 95px;
  height: 35px;
  font-size: 15px;
  background-color: #ffc107;
  color: white;
  border-color: #ffc107;
}
#btnFollow:hover {
  transform: scale(1.1)
}

