@import "bootstrap";
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  margin-top:5%;
}
.sizeMyPhotos {
  height: 210px;
  width: 210px;
  border-radius:5px;
}
.sizeMyAlbums {
  height: 210px;
  width: 210px;
}
.btnRadius {
  border-radius: 28px;
}
.formSignUp {
  margin: auto;
  margin-top: 20px;
  padding-top:30px;
  width: 25%;
  height: 30%;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  background-color: #ECECEC;
}
form input[type=email], form input[type=password], form input[type=text] {
  width: 86%;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
}
.fSignUp {
  margin-left:13%;
}
.input-file-container {
  position: relative;
  width: 100px;
}
.js .input-file-trigger {
  display: block;
  padding: 5px 5px;
  margin-top: 160px;
  margin-left: 65px;
  position: absolute;
  z-index: 2;
  background: white;
  color: black;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  opacity: 0.4;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 100px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: white;
  opacity: 0.8;
}
.loginForm {
  margin: auto;
  margin-top: 5%;
  width: 25%;
  height: 50%;
  border: 1px solid #A0A0A0;
    border-radius: 10px;
    text-align: center;
    background-color: #ECECEC;
}
.loginForm input[type=email], .loginForm input[type=password] {
  width: 90%;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  margin-left: 5%;
}
.loginForm h2 {
  color:#184785;
}
.newAccount {
  text-align: center;
}
