
header {
	overflow: hidden;
	background-color: #184785;
}

#avatar {
	height: 40px;
	width: 40px;
}
form {
	margin: auto;
	margin-top: 5%;
	width: 25%;
	height: 50%;
	border: 1px solid #A0A0A0;
  	border-radius: 5px;
  	text-align: center;
  	background-color: #ECECEC;
}
form input[type=email], form input[type=password] {
	width: 90%;
	border: 1px solid #A0A0A0;
  	border-radius: 5px;
  	margin-left: 5%;
}
form p {
	color:#184785; 
	font-size: 30px;
}
.newAccount {
	text-align: center;
}
