  header {
	overflow: hidden;
	background-color: #184785;
}

#avatarTop {
	height: 40px;
	width: 40px;
}
#avatarMain {
  height: 220px;
  width: 220px;
}
#btnFollow{
	width: 60px;
	height: 25px;
	font-size: 8px;
}
.sizePhotos {
  height: 240px;
  width: 240px;
}
.sizeAlbums {
  height: 220px;
  width: 220px;
}
